* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  padding-bottom: 1rem;
}
.weather-container {
  color: white;
  align-items: center;
  margin-bottom: 2rem;
}
.main-container {
  /* height: 100%;
  width: 100%; */
  padding: 38px;
}
.today {
  padding: 10px;
  padding-top: 50px;
}

.temperature {
  font-size: 100px;
}

.cityToday {
  font-size: 34px;
}

.weather-description {
  font-size: 22px;
}

.sun-container {
  display: flex;
  color: white;
  justify-content: center;
  font-size: 22px;
}

.sunrise,
.sunset {
  width: 50%;
}


.button {
  position: absolute;
  left: 54%;
  top: 34%
}

.weather-forecast {
  margin-left: 10px;
  margin-top: 20px;
  display: grid;
  /* grid-template-columns:1fr; */
  font-weight: 100px;
}

.weekly-weather {
  /* display: flex;
  justify-content: space-evenly; */
  display: grid;
    grid-template-columns: 1fr 79px 1fr 1fr;
}

.otherCity {
  display: flex;
}
.city {
  justify-content: center;
  font-weight: bold;
  font-size: 10px;
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  /* .main-container {
    padding: 5rem;
  } */
  .sun-container {
    display: flex;
  }
  /* .weekly-weather {
    display: flex;
    align-content: center;
    justify-content: flex;
  } */
  .weather-forecast {
    font-size: 20pt;
    justify-content: center;
    align-items: center;
  }

  .temperature-icon {
    align-items: center;
  }
  .otherCity {
    margin-top: 50px;
    justify-content: center;
  }
  .city {
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
  }
}
